<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        
                        <button type="button" routerLink= "/crear-usuario" class="btn btn-primary">Nuevo usuario</button>
                    </div>
                    <div class="card-body" >
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>
                                        Nombre
                                    </th>
                                    <th>
                                        Telefono
                                    </th>
                                    <th>
                                        Cedula
                                    </th>
                                    <th>
                                        Correo
                                    </th>
                                    
                                </thead>
                                <tbody *ngFor="let usuario of usuarios">
                                    <tr>
                                        <td>
                                            {{usuario.nombre}}
                                        </td>
                                        <td>
                                            {{usuario.telefono}}
                                        </td>
                                        <td>
                                            {{usuario.cedula}}
                                        </td>
                                        <td>
                                            {{usuario.correo}}
                                        </td>
                                        <td>                                          
                                        <button class="btn btn-primary" [routerLink]="['/editar-usuario', usuario.idusuario]">Editar</button>
                                        <button class="btn btn-danger" (click)= "eliminarUsuario(usuario.idusuario)">Eliminar</button>
                                      </td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
  </div>
