<ion-header [translucent]="true">
  <app-header-atras titulo='Cuenta'></app-header-atras>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- List of Sliding Items -->
  <ion-list>
    <ion-item routerLink="/perfil">
      <ion-label>Login/Perfil</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Cupones </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Mis cupones</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Parrillada tracker</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Favoritos</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Mis pedidos</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
