<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
      
    </ion-buttons>
    <ion-title>Recuperar contraseña</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content>
<form>
  <ion-item lines='full'>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="text" #email required></ion-input>
  </ion-item>

  
  <ion-row class="">
    <ion-col class="">
      <ion-button type="submit" (click)="onResetPassword(email, password)" expand="block">
        Aceptar
      </ion-button>
    </ion-col>
  </ion-row>

</form>
  

</ion-content>