<div class="container-fluid">
    <form [formGroup]="form">
        <div class="form-group mb-3">
            <input type="text" class="form-control"
            formControlName="name" name="nombre"
            [class.is-invalid]="name.invalid && name.touched" 
            placeholder="Nombres" maxlength="30" autofocus>
            <div *ngIf="name.invalid && (name.dirty || name.touched)">
                <small *ngIf="name.errors?.required" class="text-danger">Campo obligatorio</small>

            </div>
        </div>

        <div class="form-group mb-3">
            <input type="text" name="apellido"  
            formControlName="lastname"
            [class.is-invalid]="name.invalid && name.touched"
            placeholder="Apellidos" class="form-control" autofocus>
            <div *ngIf="lastname.invalid && lastname.touched">
                <small *ngIf="lastname.errors?.required" class="text-danger">Campo obligatorio</small>

            </div>
        </div>

        <div class="form-group mb-3">
            <input type="text" name="cedula"  
            formControlName="ide_card" maxlength="30"
            (change)="idCardValidator()"
            placeholder="Cédula" class="form-control" autofocus>
            <div *ngIf=" ide_card.touched">
            <small *ngIf="!validator" class="text-danger">
                Escriba una cedula de identidad válida
            </small>
            </div>
                

        </div>

        <div class="form-group mb-3">
            <input type="email" class="form-control"
            formControlName="email" name="correo" maxlength="30"
            [class.is-invalid]="email.invalid && email.touched" 
            placeholder="Correo"  autofocus>
            <div *ngIf="email.invalid && email.touched">
                <small *ngIf="email.errors?.required" class="text-danger">Campo obligatorio</small>
                <small *ngIf="email.errors?.email" class="text-danger">Debe usar formato de correo</small>

            </div>
            
        </div>


        <div class="form-group mb-3">
            <input type="text" name="telefono" minlength="9" maxlength="10"
            formControlName="cell_phone"
            placeholder="Teléfono" class="form-control" autofocus>
            <div *ngIf="cell_phone.invalid && cell_phone.touched">
                <small *ngIf="cell_phone.errors?.pattern" class="text-danger">Debe contener 9 o 10 números</small>

            </div>
        </div>
        
        <div class="form-group mb-3 input-group">
            <input type="password" name="contraseña" 
            formControlName="password" 
            placeholder="Contraseña" class="form-control" autofocus
            [type]="hide ? 'password':'text'">
            <div class="input-group-append">
                <span class="input-group-text"><i class="material-icons" matSuffix (click) ="hide=!hide">
                {{hide ? 'visibility':'visibility_off'}}
                </i></span>
            </div>
            <div *ngIf="password.invalid && password.touched">
                <small *ngIf="password.errors?.required" class="text-danger">Campo obligatorio</small>

            </div>
            
        </div>

        <div class="form-group mb-3">
            <input type="date" name="fecha-nacimiento" 
            formControlName="fechanac" 
            placeholder="Fecha de nacimiento" class="form-control" autofocus>
        </div>
        <div class="form-group mb-3">
            <select class="form-control" name="estado" 
            formControlName="status">
                <option value= 2 selected disabled>Selecciona un estado</option>
                <option value= 1 >Activo</option>
                <option value= 0>Inactivo</option>
            </select>
        </div>
        <div class="form-group mb-3">
            <select class="form-control" name="rol" 
            formControlName="idrolusuario">
                <option value= 0 selected disabled>Selecciona un rol</option>
                <option value= 1>Administrador</option>
                <option value= 2>Cliente</option>
            </select>
            
        </div>
        <div class="text-end">
        <button class="btn btn-primary " (click)="guardarUsuario()">
            Guardar
        </button>
        <button class="btn btn-danger " [mat-dialog-close]="true">Cancelar</button>
        </div>
    </form>

</div>