<app-header-atras titulo='Menu'></app-header-atras>

<ion-content class="bg parent">
    
    <div class="container">
        <img src = {{img}}>
        <div class="nombre">
            <h2><b>{{nombre}}</b></h2>
        </div>
        <div class="descripcion">
            <p>{{descripcion}}</p>    
        </div>
        <div class="precio">
            <p>Precio: ${{precio}}</p>    
        </div>
        
        <div class="adicionales">
            <h5>ADICIONALES</h5>
    
            <ion-list>
                <ion-item *ngFor="let adicional of adicionales" 
                (click)="onClickAdicional(adicional.precio)">
                    <ion-label>{{adicional.nombre}}  ${{adicional.precio}}</ion-label>
                    <ion-checkbox slot="end"></ion-checkbox>
                </ion-item>
            </ion-list>
    
           
        </div>
    
        <div class="bebida">
            <h5>BEBIDA</h5>
    
            <ion-list>
                <ion-item *ngFor="let bebi of bebidas" 
                (click)="onClickBebida(bebi.precio)">
                    <ion-label>{{bebi .nombre}}  ${{bebi .precio}}</ion-label>
                    <ion-checkbox slot="end"></ion-checkbox>
                </ion-item>
            </ion-list>
    
           
        </div>
    </div>

    

    <div class="btns child">
        <ion-button (click)="suma()">
            <ion-icon name="add-outline"></ion-icon>
        </ion-button>
        <ion-button (click)="resta()">
            <ion-icon name="remove-outline"></ion-icon>
        </ion-button>
        <ion-button strong="end">Agregar {{acumulador}}  ${{final}}</ion-button>
    </div>
    
</ion-content>
